.search-form {
    display: flex;
    justify-content: center;
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
}
.search-form>input {
    border-radius: 5px;    
}
.gallery {
    padding-left: 12rem;
    display: flex;
    flex-wrap: wrap;
    gap: 15rem;
    row-gap: 2;
}
.load-more {
    margin-left: 55rem;
}
.info {
    display: flex;
    gap: 20px;
}
.gallery__image {
    max-height: 400px;
}